@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 85%;
	color: #C0F;
}


h2 {
	color: #00FF00;
	margin-bottom: 0.25em;
}

p {
	color: #90F;
}

h2 + p {
	margin-top: 0;
}

.highlight {
	font-weight: bold;
}

#primary {
	color: #333;
}

