<% for column in Issue.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @issue.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @issue %> |
<%= link_to 'Back', :action => 'list' %>
