<h1>New issue</h1>

<% form_for :issue, :url => { :action => 'create' } do |form| %>
  <%= render :partial => 'form', :locals => { :form => form, :userlist => @userlist } %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
