body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 76%;
	font-family: Verdana;
	background: #7a7a7a;
	height: 100%;
	min-height: 100%;
}

#wrapper {
	margin: 0 auto;
	padding: 0;	
	width: 600px;
	background: #ffffff;
	text-align: left;
}

#header {
	height: 85px;
	overflow: hidden;
}

#footer {
	margin: 0;
	padding: 0;
	height: 30px;
	overflow: hidden;
}

#content {
	margin: 0;
	padding: 15px;
}

#leftcol {
	float: left;
	width: 40%;
	border: 1px solid #7a7a7a;
	margin-left: 20px;
}

#rightcol {
	float: right;
	width: 40%;
	border: 1px solid #7a7a7a;
	margin-right: 20px;
}

#itemlist {
	clear: both;
	background: #cccccc;
	margin: 10px 20px;
}

#statusbox {
	float:right;
	width:125px;
	background: #ff0000;
	color: #ffffff;
	text-align:center;
	font-weight:bold;
	visibility:hidden;
}

#results {
	border: 1px solid #000000;
}
