<%= error_messages_for 'comment' %>

<!--[form:comment]-->
<p><label for="comment_entry_date">Entry date</label><br/>
<%= datetime_select 'comment', 'entry_date'  %></p>

<p><label for="comment_comment_text">Comment text</label><br/>
<%= text_area 'comment', 'comment_text'  %></p>
<!--[eoform:comment]-->

