@charset "utf-8";
/* CSS Document */


body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:85%;
	color:#000;
}

h1{
	font-size:2em;
	font-weight:normal;
	margin:0.75em 0;
	
}

