/* CSS Document */

#content {
	margin: 0 0 0 250px;
	padding: 0;
}

#input {
	margin: 0;
	padding: 0;
	width: 200px;
}

#autocomplete {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 258px;
	width: 204px;
	z-index:999;
	border: 1px solid #7a7a7a;
	visibility:visible;
}

