@charset "utf-8";
/* CSS Document */

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	background-color: #dedede;
}

h1 {
	font-weight: normal;
	font-size: 2em;
}

h2 {
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

p {
	margin-top: 0;
}

#wrapper {
	width: 750px;
	border: 1px solid #7a7a7a;
	background-color: #ffffff;
	margin: auto;
	background-image: url(columnbg1.jpg);
	background-repeat: repeat-y;
}

#header, #footer {
	background-color: #000099;
	color: #ffffff;
	height: 75px;
	overflow: hidden;
}
#footer { 
	height: 35px;
	font-size: 80%;
	clear: both;
}

#header {
	background-image: url(headerbg1.jpg);
}

#header div {
	font-weight: bold;
	font-size: 2em;
	margin: 0.75em 1em;
}

#content {
	padding: 15px 25px;
	clear: both;
}

#sidebar {
	float: left;
	width: 33%;
	font-size: 90%;
}

#sidebar h2 {
	color: #000066;
	font-size: 125%;
}

#sidebar .sidemenu,
#sidebar .topic {
	border: 1px solid #000066;
	margin: 0 auto 1em auto;
	width: 90%;
	background-color: #ffffff;
}

#sidebar .sidemenu h2,
#sidebar .topic h2 {
	background-color: #000066;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0.5em 1em;
	font-size: 110%;
}

#sidebar .topic p {
	margin: 0.5em 1em;
}

#sidebar .sidemenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sidebar .sidemenu li {
	border-bottom: 1px solid #000066;
}

#sidebar .sidemenu li:last-child {
	border-bottom: none; /* removes double border at bottom of box */
}

#sidebar .sidemenu a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
}

#sidebar .sidemenu a:link {
}

#sidebar .sidemenu a:hover {
	background-color: #FFFFCC; /* #FFC */
}

#sidebar .sidemenu a:active {
}


#maincontent {
	float: right;
	width: 66%;
}

.alt-list-item {
	font-weight: bold;
	color: rgb(0, 0, 102); /* #000066 */
}

a:link {
	
}

a:visited {
	
}

a:hover {
	
}

a:active {
	
}

#mainmenu li {
	float: left;
	padding: 0 1em;
}

#mainmenu ul {
	list-style-type: none;
	float: right;
	padding: 0;
	margin: 0;
}

#mainmenu a {
	text-decoration: none;
	color: #990000;
}

.readertext {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	top: -1000em;
	left: -1000em;
}

.emphasis {
	position: relative;
	top: -0.5em;
	font-size: 70%;
}

.alignleft {
	display: block;
	float: left;
	margin-right: 1em;
}

.alignright {
	display: block;
	float: right;
	margin-left: 1em;
}


