body {
	font-family: verdana;
	background: #7a7a7a;
	text-align: center;
}

body, td {
	font-size: 76%;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background: #ff0000;
	width: 60em;
}

#header {
	margin: 0;
	padding: 0;
	background: #cccccc;
	height: 75px;
	overflow: hidden;
}

#content {
	margin: 0;
	padding: 0;
	background: #ffffff;
	float: left;
	width: 58%;
}

#sidebar {
	margin: 0;
	padding: 0;
	background: #99ff99;
	float: right;
	width: 38%
}

#footer {
	margin: 0;
	padding: 0;
	background: #0000ff;
	height: 40px;
	overflow: hidden;
	clear: both;
}

#statusbar {
	float: right;
	color: #ff0000;
	font-weight: bold;
	visibility: hidden;
}

.producttable {
	width: 100%;
}

.producttablerow1 {
	background: #ddddff;
}

.producttablerow2 {
	background: #aaaaff;
}

table.producttable tr:hover {
	background: #eeeeff;
}
