@charset "utf-8";
/* CSS Document */

body {
	background: #7a7a7a;
	font-size: 85%;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 700px;
	background: #ffffff;
	margin: 0 auto;
	padding: 0;
}

.item {
	float: left;
	width: 31%;
	margin: 1em 1%;
	background: #efefef;
}

.clearing {
	clear: both;
	height: 1px;
	overflow: hidden;
}

