@charset "utf-8";
body {
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	background-color: #FAE3C3;
}
#wrapper {
	background-color: #FFFFFF;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/background1.png);
}
#topnav {
	background-color: #00FF05;
	height: 30px;
}

#header {
	height: 180px;
	background-color: #E31459;
}
#footer {
	height: 60px;
	background-color: #3D0606;
	color: #FFFFFF;
	font-size: 85%;
	clear: both;
}
.alignleft {
	float: left;
	padding-right: 1em;
}
#topnav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
}
#topnav ul li a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#topnav ul li {
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#content {
	clear: both;
}



.alignright {
	float: right;
	padding-left: 1em;
}
.topic {
	border-bottom: 1px dotted #8A8A8A;
}



#main {
	float: left;
	width: 550px;
}
#sidebar {
	float: left;
	width: 250px;
}
