@charset "utf-8";
/* CSS Document */

h2 {
	color: #006;
}



#sidebar {
	font-size: 90%;
}

#sidebar h2 {
	color: #900;
}

/* top navigation styling */
#topnav {
	background: #FFC;
	float:left;
	width: 100%;
}
#topnav ul {
	list-style-type: none;
	padding: 0;
}

#topnav li {
	float: left;
	border-right: 1px solid #006;
}
/*
#topnav li:first-child {
	border-left: none;
}
*/
#topnav a {
	text-decoration: none;
	display: block;
	padding: 0.25em 1em;
	background: #FC9;
}

#topnav a:hover {
	/* font-weight: bold; */
	background: #ffffff;
}

/* submenu styling */
div.submenu {
	width: 90%;
	border: 1px solid #006;
	margin: 1em auto;
}

#sidebar div.submenu h2 {
	color: #ffffff;
	background: #900;
	margin: 0;
	padding: 5px 15px;
}

.submenu ul {
	padding: 0;
	background: #efefef;
	list-style-type: none;
}

.submenu li {
	border-top: 1px solid #009;
}

.submenu li:first-child {
	border-top: none;
}

.submenu a {
	text-decoration: none;
	display: block;
	padding: 5px 15px;
	background: #B9DCFF url(rollover1.jpg);
	color: #fff;
	font-weight: bold;
}

.submenu a:link {
}

.submenu a:hover {
	background: #B9DCFF url(rollover1.jpg) 0 -24px;
}

.submenu a:active {
	background: #B9DCFF url(rollover1.jpg) 0 -48px;
}











