@charset "utf-8";
#wrapper {
	background-color: #FFFFFF;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
}
#wrapper h1 {
	color: #7E0002;
}
#wrapper h2 {
	color: #010067;
}


body {
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	background-color: #BFBFBF;
}
