table {
	width: 50%;
	margin: auto;
	border: 1 px solid #7a7a7a;
	border-width: 1px;
	border-collapse: collapse;
	padding: o;
}

td {
	padding 0,25em;
	margin: 0;
	border: 1px solid #7a7a7a;
	width: 14%;
	height: 50px;


}

th {

	padding: 0,25em;

}

thead, tfoot {
	text-align:center
