@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #acacac;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 85%;
	color: #000;
}

#wrapper {
	min-height: 100%;
	width: 700px;
	padding: 0 25px;
	background: #ffffff;
	margin: 0 auto;
}

.center { text-align: center; margin: 0 auto; }

/* tableless forms */
form label {
	float: left;
	width: 15em;
	text-align: right;
	margin-right: 1em;
}

form div {
	clear: both;
	margin-bottom: 0.25em;
}
