/***
 * grid12.css - 12-column grid system
 */
 
/*
   Base our layout on 12-column grid, so 100% / 12 = 
   8.33% per column. Each column type is a multiple of
   8.33. 
*/

/* 
	Our columns must be placed inside an element with the grid class 
	as it uses the clearfix hack.
	ref: http://www.sitepoint.com/clearing-floats-overview-different-clearfix-methods/
*/
.grid:before,
.grid:after {
  content: "";
  display: table;
}

.grid:after {
  clear: both;
}

.grid {
  zoom: 1; /* ie 6/7 */
}

/* column classes */
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }	
.col-5 { width: 41.66%; }	
.col-6 { width: 50%; }	
.col-7 { width: 58.33%; }	
.col-8 { width: 66.66%; }	
.col-9 { width: 75%; }	
.col-10 { width: 83.33%; }	
.col-11 { width: 91.66%; }	
.col-12 { width: 100%; }

/* common column properties */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	box-sizing: border-box;
	float: left;
	padding: 1px 1%;
}

