/* CSS Document */
body {
	text-align:center;
	margin: 0;
	padding: 0;
	background: #7a7a7a;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background: #ffffff;
}

#content {
	float: left;
	width: 100%;
	background: #ffffff;
}

#leftcol {
	float: left;
	width: 49%;
	border: 1px solid #efefef;
}

#rightcol {
	float: right;
	width: 49%;
	border: 1px solid #efefef;
}

.readertext {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	top: -1000px;
	left: -1000px;
	z-index: -999;
}


